* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  height: 2000px;
  border: black 2px solid;
}
.satu {
  position: relative;
  background-color: #ffb703;
  height: 100px;
  width: 100%;
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding: 35px;
}
.satu a {
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: black;
}
.dua {
  background-color: #e6918e;
  height: 500px;
  width: 100%;
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding: 50px;
}
.tiga {
  background-color: #219ebc;
  height: 500px;
  width: 100%;
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding: 50px;
}
.flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 30px;
}
.A {
  height: 100px;
  width: 100px;
  background-color: #ffb703;
}
.B {
  height: 100px;
  width: 100px;
  background-color: #e6918e;
}
.C {
  height: 100px;
  width: 100px;
  background-color: #219ebc;
}
